src/main/webapp/resources/topjava.wadl

<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xml:lang="en" title="http://localhost:8080"/>
    <resources base="http://localhost:8080">
        <resource path="topjava/rest/admin/users" id="">
            <doc xml:lang="en" title=""/>
            <method name="GET" id="">
                <doc xml:lang="en" title=""/>
                <request/>
                <response status="401 500">
                    <representation mediaType="text/html;charset=utf-8" element="html"/>
                </response>
                <response status="200">
                    <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://localhost/topjava/rest/admin/users/100000"/>
                </response>
            </method>
            <method name="POST" id="">
                <doc xml:lang="en" title=""/>
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response status="">
                    <representation mediaType="application/json"/>
                </response>
                <response status="500">
                    <representation mediaType="text/html;charset=utf-8" element="html"/>
                </response>
                <response status="201">
                    <representation mediaType="application/json" element="user:Response" xmlns:user="http://localhost/topjava/rest/admin/users"/>
                </response>
            </method>
        </resource>
        <resource path="topjava/rest/admin/users/100000" id="">
            <doc xml:lang="en" title=""/>
            <method name="GET" id="">
                <doc xml:lang="en" title=""/>
                <request/>
                <response status="500">
                    <representation mediaType="text/html;charset=utf-8" element="html"/>
                </response>
                <response status="200">
                    <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://localhost/topjava/rest/admin/users/100000"/>
                </response>
            </method>
            <method name="PUT" id="">
                <doc xml:lang="en" title=""/>
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response status="405 500">
                    <representation mediaType="text/html;charset=utf-8" element="html"/>
                </response>
                <response status="">
                    <representation mediaType="application/json"/>
                </response>
                <response status="200">
                    <representation mediaType="" element="data"/>
                    <representation mediaType="" element="data"/>
                    <representation mediaType="" element="data"/>
                </response>
            </method>
        </resource>
        <resource path="topjava/rest/profile" id="">
            <doc xml:lang="en" title=""/>
            <method name="GET" id="">
                <doc xml:lang="en" title=""/>
                <request/>
                <response status="500">
                    <representation mediaType="text/html;charset=utf-8" element="html"/>
                </response>
                <response status="200">
                    <representation mediaType="application/json" element="ns:Response" xmlns:ns="http://localhost/topjava/rest/admin/users/100000"/>
                </response>
            </method>
            <method name="PUT" id="">
                <doc xml:lang="en" title=""/>
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response status="">
                    <representation mediaType="application/json"/>
                </response>
                <response status="405 500">
                    <representation mediaType="text/html;charset=utf-8" element="html"/>
                </response>
                <response status="201">
                    <representation mediaType="application/json" element="user:Response" xmlns:user="http://localhost/topjava/rest/admin/users"/>
                </response>
                <response status="200">
                    <representation mediaType="" element="data"/>
                    <representation mediaType="" element="data"/>
                    <representation mediaType="" element="data"/>
                    <representation mediaType="" element="data"/>
                    <representation mediaType="" element="data"/>
                </response>
            </method>
            <method name="DELETE" id="">
                <doc xml:lang="en" title=""/>
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response status="200">
                    <representation mediaType="" element="data"/>
                    <representation mediaType="" element="data"/>
                </response>
                <response status="500">
                    <representation mediaType="text/html;charset=utf-8" element="html"/>
                </response>
                <response status="">
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
    </resources>
</application>